VITE_API_BASE_URL="https://server-production-0e43.up.railway.app/api"
VITE_API_URL="https://server-production-0e43.up.railway.app/api"
VITE_WS_URL="https://server-production-0e43.up.railway.app"
VITE_SITE_URL="https://www.palkamtm.pl"
VITE_AUTH_REDIRECT_URL="https://www.palkamtm.pl/verify-email"
VITE_SUPABASE_URL="https://nctvwxiqzbedgcmetyal.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_5PhjleD4r27I7pK531AOBg_6MywaGyL"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jdHZ3eGlxemJlZGdjbWV0eWFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0Nzk2NDUsImV4cCI6MjA4MjA1NTY0NX0.A3ie8bcvSZeXclTKgMyh5L3uz_LPTjlHz95isEQ3kJQ"
