NODE_ENV=production
PORT=8001
CLIENT_URL=https://www.palkamtm.pl
ALLOWED_ORIGINS=https://www.palkamtm.pl,https://palkamtm.pl,http://localhost:5173,http://172.22.208.1:5173
DATABASE_URL=postgresql://postgres.nctvwxiqzbedgcmetyal:Milosz.120588@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
DIRECT_URL=postgresql://postgres.nctvwxiqzbedgcmetyal:Milosz.120588@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
JWT_SECRET=__fill__
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
STRIPE_SECRET_KEY=__fill__
STRIPE_WEBHOOK_SECRET=__fill__
SUPABASE_URL=https://nctvwxiqzbedgcmetyal.supabase.co
SUPABASE_SERVICE_ROLE_KEY=__fill__
SUPABASE_ANON_KEY=__fill__
SUPABASE_BUCKET=auction-media
SUPABASE_BUCKET_PUBLIC=true
SUPABASE_SECRET_KEYS=__fill__
TWILIO_ACCOUNT_SID=__fill__
TWILIO_API_KEY=__fill__
TWILIO_API_SECRET=__fill__
TWILIO_AUTH_TOKEN=__fill__
TWILIO_PHONE_NUMBER=+48732071591
TWILIO_VERIFY_SERVICE_SID=__fill__
PRISMA_MIGRATE_DEPLOY=true
NIXPACKS_NODE_VERSION=20
NIXPACKS_PACKAGE_MANAGER=npm
