# Supabase (dev)
SUPABASE_URL=https://nctvwxiqzbedgcmetyal.supabase.co
SUPABASE_ANON_KEY=eyJ...
SUPABASE_SERVICE_ROLE_KEY=eyJ...

# API (dev)
CLIENT_URL=http://localhost:5173
PORT=8000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres
