HTML CSS JSResult Skip Results Iframe
EDIT ON
Live
1
<div id="preloader" class="preloader">
2
  <div class="preloader-main">
3
    <div class="preloader-wrapp">
4
      <div class="preloader-img" id="preloader-1">
5
        <svg width="159" height="36" viewBox="0 0 159 36" fill="none" xmlns="http://www.w3.org/2000/svg">
6
          <rect width="36" height="36" fill="#131313"/>
7
          <path d="M18 0L25.1276 10.8724L36 18L25.1276 25.1276L18 36L10.8724 25.1276L0 18L10.8724 10.8724L18 0Z" fill="#FFFAF6"/>
8
          <g clip-path="url(#clip0_29_129)">
9
          <rect x="41" width="36" height="36" fill="#131313"/>
10
          <path d="M71.7279 5.27211L77 18L71.7279 30.728L59 36L46.2721 30.728L41 18L46.2721 5.27211L59 3.29134e-05L71.7279 5.27211Z" fill="#FFFAF6"/>
11
          </g>
12
          <g clip-path="url(#clip1_29_129)">
13
          <rect x="82" width="36" height="36" fill="#FFFAF6"/>
14
          <rect x="82" width="6" height="6" fill="black"/>
15
          <rect x="112" width="6" height="6" fill="black"/>
16
          <rect x="112" y="30" width="6" height="6" fill="black"/>
17
          <rect x="82" y="30" width="6" height="6" fill="black"/>
18
          </g>
19
          <rect x="123" width="36" height="36" fill="#131313"/>
20
          <circle cx="141" cy="18" r="17" fill="#FFFAF6"/>
21
          <defs>
22
          <clipPath id="clip0_29_129">
23
          <rect width="36" height="36" fill="white" transform="translate(41)"/>
24
          </clipPath>
25
          <clipPath id="clip1_29_129">
26
          <rect width="36" height="36" fill="white" transform="translate(82)"/>
27
          </clipPath>
28
          </defs>
29
        </svg>
30
      </div>
31
      <div class="preloader-img" id="preloader-2">
32
        <svg width="159" height="36" viewBox="0 0 159 36" fill="none" xmlns="http://www.w3.org/2000/svg">
33
          <rect x="41" width="36" height="36" fill="#131313"/>
34
          <path d="M59 0L66.1276 10.8724L77 18L66.1276 25.1276L59 36L51.8724 25.1276L41 18L51.8724 10.8724L59 0Z" fill="#FFFAF6"/>
35
          <g clip-path="url(#clip0_29_150)">
36
          <rect width="36" height="36" fill="#131313"/>
37
          <path d="M30.7279 5.27211L36 18L30.7279 30.728L18 36L5.27208 30.728L-2.26823e-07 18L5.27208 5.27211L18 3.29134e-05L30.7279 5.27211Z" fill="#FFFAF6"/>
38
          </g>
39
          <g clip-path="url(#clip1_29_150)">
40
          <rect x="123" width="36" height="36" fill="#FFFAF6"/>
41
          <rect x="123" width="6" height="6" fill="black"/>
42
          <rect x="153" width="6" height="6" fill="black"/>
43
          <rect x="153" y="30" width="6" height="6" fill="black"/>
44
          <rect x="123" y="30" width="6" height="6" fill="black"/>
45
          </g>
46
          <rect x="82" width="36" height="36" fill="#131313"/>
47
          <circle cx="100" cy="18" r="17" fill="#FFFAF6"/>
48
          <defs>
49
          <clipPath id="clip0_29_150">
50
          <rect width="36" height="36" fill="white"/>
51
          </clipPath>
52
          <clipPath id="clip1_29_150">
53
          <rect width="36" height="36" fill="white" transform="translate(123)"/>
54
          </clipPath>
55
          </defs>
56
        </svg>
57
      </div>
58
      <div class="preloader-img" id="preloader-3">
59
        <svg width="159" height="36" viewBox="0 0 159 36" fill="none" xmlns="http://www.w3.org/2000/svg">
60
          <rect x="123" width="36" height="36" fill="#131313"/>
61
          <path d="M141 0L148.128 10.8724L159 18L148.128 25.1276L141 36L133.872 25.1276L123 18L133.872 10.8724L141 0Z" fill="#FFFAF6"/>
62
          <g clip-path="url(#clip0_29_167)">
63
          <rect x="82" width="36" height="36" fill="#131313"/>
64
          <path d="M112.728 5.27211L118 18L112.728 30.728L100 36L87.2721 30.728L82 18L87.2721 5.27211L100 3.29134e-05L112.728 5.27211Z" fill="#FFFAF6"/>
65
          </g>
66
          <g clip-path="url(#clip1_29_167)">
67
          <rect width="36" height="36" fill="#FFFAF6"/>
68
          <rect width="6" height="6" fill="black"/>
69
          <rect x="30" width="6" height="6" fill="black"/>
70
          <rect x="30" y="30" width="6" height="6" fill="black"/>
71
          <rect y="30" width="6" height="6" fill="black"/>
72
          </g>
73
          <rect x="41" width="36" height="36" fill="#131313"/>
74
          <circle cx="59" cy="18" r="17" fill="#FFFAF6"/>
75
          <defs>
76
          <clipPath id="clip0_29_167">
77
          <rect width="36" height="36" fill="white" transform="translate(82)"/>
78
          </clipPath>
79
          <clipPath id="clip1_29_167">
80
          <rect width="36" height="36" fill="white"/>
81
          </clipPath>
82
          </defs>
83
        </svg>
84
      </div>
85
      <div class="preloader-img" id="preloader-4">
86
        <svg width="159" height="36" viewBox="0 0 159 36" fill="none" xmlns="http://www.w3.org/2000/svg">
87
          <rect x="82" width="36" height="36" fill="#131313"/>
88
          <path d="M100 0L107.128 10.8724L118 18L107.128 25.1276L100 36L92.8724 25.1276L82 18L92.8724 10.8724L100 0Z" fill="#FFFAF6"/>
89
          <g clip-path="url(#clip0_29_184)">
90
          <rect x="123" width="36" height="36" fill="#131313"/>
91
          <path d="M153.728 5.27211L159 18L153.728 30.728L141 36L128.272 30.728L123 18L128.272 5.27211L141 3.29134e-05L153.728 5.27211Z" fill="#FFFAF6"/>
92
          </g>
93
          <g clip-path="url(#clip1_29_184)">
94
          <rect x="41" width="36" height="36" fill="#FFFAF6"/>
95
          <rect x="41" width="6" height="6" fill="black"/>
96
          <rect x="71" width="6" height="6" fill="black"/>
97
          <rect x="71" y="30" width="6" height="6" fill="black"/>
98
          <rect x="41" y="30" width="6" height="6" fill="black"/>
99
          </g>
100
          <rect width="36" height="36" fill="#131313"/>
101
          <circle cx="18" cy="18" r="17" fill="#FFFAF6"/>
102
          <defs>
103
          <clipPath id="clip0_29_184">
104
          <rect width="36" height="36" fill="white" transform="translate(123)"/>
105
          </clipPath>
106
          <clipPath id="clip1_29_184">
107
          <rect width="36" height="36" fill="white" transform="translate(41)"/>
108
          </clipPath>
109
          </defs>
110
        </svg>
111
      </div>
112
    </div>
113
  </div>
114
</div>
115
​
116
<header class="header">
117
  <div class="header-wrapp">
118
    <div class="header-logo">
119
      TL/E
120
      <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
121
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 0H0V6.5V13H6.5H13V6.5V0H6.5ZM6.5 0L3.92613 3.92613L0 6.5L3.92613 9.07387L6.5 13L9.07387 9.07387L13 6.5L9.07387 3.92613L6.5 0Z" fill="#131313"/>
122
      </svg>
123
    </div>
124
    <div class="header-search">Search</div>
125
    <div class="header-menu">
126
      <a href="#" class="header-menu__item header-link">Product</a>
127
      <a href="#" class="header-menu__item header-link">Collection</a>
128
      <a href="#" class="header-menu__item header-link">3d model</a>
129
    </div>
130
    <a href="#" class="header-contact header-link">Contact</a>
131
    <a href="#" class="header-cart header-link">Cart (0)</a>
132
  </div>
133
</header>
134
​
135
<main>
136
  <div id="smooth-wrapper">
137
    <div id="smooth-content">
138
      <section class="banner">
139
        <div class="banner-mask"></div>
140
        <div class="banner-text split">Inspired Tiling Solutions</div>
141
        <div class="banner-title split">Your home, your reflect/on.</div>
142
        <div class="banner-descr split">Tile Emporium offers premium tiles for your home. Durable, versatile and beautiful options for floor and wall. Expert help available. Shop online or in-store. Start your renovation now.</div>
143
      </section>
144
​
145
      <section class="collection">
146
        <div class="collection-mask"></div>
147
        <div class="slider">
148
          <div class="slider-wrapp">
149
            <div class="slider-img">
150
              <img class="" src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/tle/luminous.jpg" alt="">
151
              <div class="slider-gradient"></div>
152
            </div>
153
            <div class="slider-img active">
154
              <img class="" src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/tle/celestial.jpg" alt="">
155
              <div class="slider-gradient"></div>
156
            </div>
157
          </div>
158
          
159
          <div class="slider-descr">Our Exquisite Collection of Tiles</div>
160
          <div class="slider-title">
161
            <div class="slider-title__item">Luminous Vista</div>
162
            <div class="slider-title__item"></div>
163
            <div class="slider-title__item">Celestial Symphony</div>
164
          </div>
165
          <div class="slider-numeric">
166
            <div class="slider-numeric__active">
167
              <div class="slider-numeric__item">01</div>
168
              <div class="slider-numeric__item">02</div>
169
            </div>
170
            -
171
            <div class="slider-numeric__total">02</div>
172
          </div>
173
        </div>
174
  </section>
175
    </div>
176
  </div>
177
</main>

Resources




HTML CSS JSResult Skip Results Iframe
EDIT ON
Live
1
@font-face {
2
  font-family: "Open Sans", serif;
3
}
4
html {
5
  font-size: 6.9444444444vw;
6
}
7
​
8
:root {
9
  --main-font: "Open Sans", serif;
10
  --dark: #131313;
11
  --black: #000;
12
  --white: #fff;
13
  --beige: #FFFAF6;
14
}
15
​
16
body {
17
  font-size: 16px;
18
  font-family: var(--main-font);
19
  color: var(--dark);
20
  background: var(--beige);
21
  overflow: hidden;
22
}
23
​
24
body {
25
  clip-path: polygon(0% 0%, 6.25% 0%, 6.25% 100%, 6.25% 100%, 6.25% 100%, 6.25% 0%, 12.5% 0%, 12.5% 100%, 12.5% 100%, 12.5% 0%, 18.75% 0%, 18.75% 100%, 18.75% 100%, 18.75% 0%, 25% 0%, 25% 100%, 25% 100%, 25% 0%, 31.25% 0%, 31.25% 100%, 31.25% 100%, 31.25% 0%, 37.5% 0%, 37.5% 100%, 37.5% 100%, 37.5% 0%, 43.75% 0%, 43.75% 100%, 43.75% 100%, 43.75% 0%, 50% 0%, 50% 100%, 50% 100%, 50% 0%, 56.25% 0%, 56.25% 100%, 56.25% 100%, 56.25% 0%, 62.5% 0%, 62.5% 100%, 62.5% 100%, 62.5% 0%, 68.75% 0%, 68.75% 100%, 68.75% 100%, 68.75% 0%, 75% 0%, 75% 100%, 75% 100%, 75% 0%, 81.25% 0%, 81.25% 100%, 81.25% 100%, 81.25% 0%, 87.5% 0%, 87.5% 100%, 87.5% 100%, 87.5% 0%, 93.75% 0%, 93.75% 100%, 93.75% 100%, 93.75% 0%, 100% 0%, 100% 100%, 0% 100%);
26
  transition: 0s;
27
}
28
​
29
body.hide {
30
  clip-path: polygon(6.25% 0%, 6.25% 0%, 6.25% 100%, 6.25% 100%, 12.5% 100%, 12.5% 0%, 12.5% 0%, 12.5% 100%, 18.75% 100%, 18.75% 0%, 18.75% 0%, 18.75% 100%, 25% 100%, 25% 0%, 25% 0%, 25% 100%, 31.25% 100%, 31.25% 0%, 31.25% 0%, 31.25% 100%, 37.5% 100%, 37.5% 0%, 37.5% 0%, 37.5% 100%, 43.75% 100%, 43.75% 0%, 43.75% 0%, 43.75% 100%, 50% 100%, 50% 0%, 50% 0%, 50% 100%, 56.25% 100%, 56.25% 0%, 56.25% 0%, 56.25% 100%, 62.5% 100%, 62.5% 0%, 62.5% 0%, 62.5% 100%, 68.75% 100%, 68.75% 0%, 68.75% 0%, 68.75% 100%, 75% 100%, 75% 0%, 75% 0%, 75% 100%, 81.25% 100%, 81.25% 0%, 81.25% 0%, 81.25% 100%, 87.5% 100%, 87.5% 0%, 87.5% 0%, 87.5% 100%, 93.75% 100%, 93.75% 0%, 93.75% 0%, 93.75% 100%, 100% 100%, 100% 0%, 100% 0%, 100% 100%, 6.25% 100%);
31
  transition: clip-path 1.5s;
32
}
33
​
34
* {
35
  margin: 0;
36
  padding: 0;
37
  -webkit-box-sizing: border-box;
38
  box-sizing: border-box;
39
}
40
​
41
#smooth-content { border-top: 1px solid transparent; border-bottom: 1px solid transparent }
42
​
43
img,
44
svg,
45
video {
46
  display: block;
47
  max-width: 100%;
48
  width: 100%;
49
}
50
​
51
img {
52
  display: block;
53
  user-drag: none;
54
  user-select: none;
55
  -moz-user-select: none;
56
  -webkit-user-drag: none;
57
  -webkit-user-select: none;
58
  -ms-user-select: none;
59
}
60
​
61
button {
62
  -webkit-user-select: none;
63
     -moz-user-select: none;
64
          -ms-user-select: none;
65
          user-select: none;
66
}
67
​
68
/* extra long transition to hide blue autofill background */
69
input:-webkit-autofill,
70
input:-webkit-autofill:focus,
71
textarea:-webkit-autofill,
72
textarea:-webkit-autofill:focus {
73
  -webkit-transition: background-color 100000000000000000000000000000s 0s, color 100000000000000000000000000000s 0s;
74
  transition: background-color 100000000000000000000000000000s 0s, color 100000000000000000000000000000s 0s;
75
}
76
​
77
/* Remove Safari autofill*/
78
input::-webkit-contacts-auto-fill-button {
79
  visibility: hidden;
80
  display: none !important;
81
  pointer-events: none;
82
  position: absolute;
83
  right: 0;
84
}
85
​
86
input[type=text],
87
input[type=number],
88
input[type=email],
89
input[type=tel],
90
textarea {
91
  /* remove autofill blue background */
92
  box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
93
  -webkit-box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
94
  -webkit-text-fill-color: currentColor !important;
95
  font-size: 1rem;
96
  line-height: 1.5rem;
97
  background-color: transparent;
98
}
99
​
100
input[type=number] {
101
  -moz-appearance: textfield;
102
}
103
​
104
.split {
105
  font-kerning: none;
106
  -webkit-text-rendering: optimizeSpeed;
107
  text-rendering: optimizeSpeed;
108
  -webkit-transform: translateZ(0);
109
  transform: translateZ(0);
110
  line-height: 1.2;
111
}
112
​
113
.fade-overflow {
114
  overflow: hidden;
115
}
116
​
117
.fade-el {
118
  display: block;
119
  transform: translateY(110%) ;
120
}
121
​
122
.preloader {
123
  position: fixed;
124
  top: 0;
125
  left: 0;
126
  display: flex;
127
  align-items: center;
128
  justify-content: center;
129
  width: 100%;
130
  height: 100vh;
131
  background: var(--beige);
132
  z-index: 999;
133
}
134
​
135
.preloader-main {
136
  width: 1.58rem;
137
  height: auto;
138
  overflow: hidden;
139
}
140
​
141
.preloader-wrapp {
142
  width: 100%;
143
  height: auto;
144
}
145
​
146
.preloader-img {
147
  position: absolute;
148
  top: 50%;
149
  left: 50%;
150
  width: 100%;
151
  max-width: 1.58rem;
152
  transform: translate(-50%, -50%);
153
  animation-duration: 0.8s;
154
  animation-iteration-count: infinite;
155
}
156
​
157
.preloader-img svg {
158
  width: 100%;
159
  height: auto;
160
}
161
​
162
#preloader-1 {
163
  position: relative;
164
  top: 0;
165
  left: 0;
166
  opacity: 1;
167
  transform: none;
168
  animation-name: preloaderAnimation1;
169
}
170
​
171
#preloader-2 {
172
  opacity: 0;
173
  animation-name: preloaderAnimation2;
174
}
175
​
176
#preloader-3 {
177
  opacity: 0;
178
  animation-name: preloaderAnimation3;
179
}
180
​
181
#preloader-4 {
182
  opacity: 0;
183
  animation-name: preloaderAnimation4;
184
}
185
​
186
@keyframes preloaderAnimation1 {
187
  1% {
188
    opacity: 1;
189
  }
190
  25% {
191
    opacity: 1;
192
  }
193
  25.01% {
194
    opacity: 0;
195
  }
196
  0%, 100% {
197
    opacity: 0;
198
  }
199
}
200
​
201
@keyframes preloaderAnimation2 {
202
  0%, 100% {
203
    opacity: 0;
204
  }
205
  25% {
206
    opacity: 0;
207
  }
208
  26% {
209
    opacity: 1;
210
  }
211
  50% {
212
    opacity: 1;
213
  }
214
  51% {
215
    opacity: 0;
216
  }
217
}
218
​
219
@keyframes preloaderAnimation3 {
220
  0%, 100% {
221
    opacity: 0;
222
  }
223
  50% {
224
    opacity: 0;
225
  }
226
  51% {
227
    opacity: 1;
228
  }
229
  75% {
230
    opacity: 1;
231
  }
232
  76% {
233
    opacity: 0;
234
  }
235
}
236
​
237
@keyframes preloaderAnimation4 {
238
  1%, 100% {
239
    opacity: 0;
240
  }
241
  75% {
242
    opacity: 0;
243
  }
244
  76% {
245
    opacity: 1;
246
  }
247
  100% {
248
    opacity: 1;
249
  }
250
}
251
​
252
.header {
253
  position: fixed;
254
  top: 0;
255
  left: 0;
256
  display: flex;
257
  align-items: center;
258
  justify-content: center;
259
  width: 100%;
260
  z-index: 100;
261
}
262
​
263
.header-wrapp {
264
  display: grid;
265
  grid-template-columns: repeat(5, 1fr);
266
  align-items: baseline;
267
  gap: 0.2rem;
268
  width: 100%;
269
  padding: 0.13rem 0.2rem;
270
  margin: 0.06rem;
271
  transform: translateY(-1rem);
272
}
273
​
274
.header-logo {
275
  display: flex;
276
  align-items: center;
277
  gap: 0.04rem;
278
}
279
​
280
.header-logo svg {
281
  width: 0.13rem;
282
}
283
​
284
.header-menu {
285
  display: flex;
286
  flex-direction: column;
287
  gap: 0.04rem;
288
  justify-self: flex-end;
289
}
290
​
291
.header-link {
292
  color: var(--dark);
293
  text-decoration: none;
294
}
295
​
296
.header-contact {
297
  justify-self: flex-end;
298
}
299
​
300
.header-cart {
301
  justify-self: flex-end;
302
}
303
​
304
.banner {
305
  position: relative;
306
  display: grid;
307
  grid-template-columns: repeat(5, 1fr);
308
  grid-gap: 0.2rem;
309
  padding: 3.19rem 0 0.69rem;
310
  margin: 0 0.2rem;
311
}
312
​
313
.banner-mask {
314
  position: absolute;
315
  top: 0;
316
  left: 50%;
317
  width: 100vw;
318
  height: 100%;
319
  background: var(--dark);
320
  transform: translateX(-50%);
321
  opacity: 0;
322
  pointer-events: none;
323
  user-select: none;
324
  z-index: 1;
325
}
326
​
327
.banner-text {
328
  max-width: 2rem;
329
  text-transform: uppercase;
330
}
331
​
332
.banner-title {
333
  grid-column-start: span 3;
334
  font-size: 0.93rem;
335
  line-height: 1;
336
  margin-top: -0.16rem;
337
}
338
​
339
.banner-descr {
340
  text-transform: uppercase;
341
}
342
​
343
.collection {
344
  position: relative;
345
  width: 100%;
346
  max-width: 100%;
347
  height: 100vh;
348
  padding: 0 0.22rem;
349
  overflow: hidden;
350
  z-index: 1;
351
}
352
​
353
.collection-mask {
354
  position: absolute;
355
  top: 0;
356
  left: 0;
357
  width: 100%;
358
  height: 100%;
359
  background: var(--dark);
360
  opacity: 0;
361
}
362
​
363
.slider {
364
  height: 100vh;
365
  border-radius: 0.22rem;
366
  transform: translateY(50%);
367
  overflow: hidden;
368
}
369
​
370
.slider-wrapp {
371
  position: relative;
372
  width: 100%;
373
  height: 100%;
374
}
375
​
376
.slider-gradient {
377
  position: absolute;
378
  bottom: 0;
379
  left: 0;
380
  width: 100%;
381
  height: 38vh;
382
  background: linear-gradient(180deg, rgba(53, 51, 47, 0) 9.24%, #3D3830 100%);
383
}
384
​
385
.slider-img {
386
  position: absolute;
387
  top: 0;
388
  left: 0;
389
  width: 100%;
390
  height: 100%;
391
  opacity: 0;
392
  clip-path: polygon(0% 0%, 6.25% 0%, 6.25% 100%, 6.25% 100%, 6.25% 100%, 6.25% 0%, 12.5% 0%, 12.5% 100%, 12.5% 100%, 12.5% 0%, 18.75% 0%, 18.75% 100%, 18.75% 100%, 18.75% 0%, 25% 0%, 25% 100%, 25% 100%, 25% 0%, 31.25% 0%, 31.25% 100%, 31.25% 100%, 31.25% 0%, 37.5% 0%, 37.5% 100%, 37.5% 100%, 37.5% 0%, 43.75% 0%, 43.75% 100%, 43.75% 100%, 43.75% 0%, 50% 0%, 50% 100%, 50% 100%, 50% 0%, 56.25% 0%, 56.25% 100%, 56.25% 100%, 56.25% 0%, 62.5% 0%, 62.5% 100%, 62.5% 100%, 62.5% 0%, 68.75% 0%, 68.75% 100%, 68.75% 100%, 68.75% 0%, 75% 0%, 75% 100%, 75% 100%, 75% 0%, 81.25% 0%, 81.25% 100%, 81.25% 100%, 81.25% 0%, 87.5% 0%, 87.5% 100%, 87.5% 100%, 87.5% 0%, 93.75% 0%, 93.75% 100%, 93.75% 100%, 93.75% 0%, 100% 0%, 100% 100%, 0% 100%);
393
  transform: scale(1.1) translateX(-4%);
394
  transition: 1.5s;
395
}
396
​
397
.slider-img.active {
398
  opacity: 1;
399
  transform: scale(1.1);
400
  transition: clip-path 1.5s cubic-bezier(0.55,0.00,0.49,1.00), transform 2s cubic-bezier(0.17,0.17,0.49,1.00);
401
}
402
​
403
.slider-img.hide {
404
  clip-path: polygon(6.25% 0%, 6.25% 0%, 6.25% 100%, 6.25% 100%, 12.5% 100%, 12.5% 0%, 12.5% 0%, 12.5% 100%, 18.75% 100%, 18.75% 0%, 18.75% 0%, 18.75% 100%, 25% 100%, 25% 0%, 25% 0%, 25% 100%, 31.25% 100%, 31.25% 0%, 31.25% 0%, 31.25% 100%, 37.5% 100%, 37.5% 0%, 37.5% 0%, 37.5% 100%, 43.75% 100%, 43.75% 0%, 43.75% 0%, 43.75% 100%, 50% 100%, 50% 0%, 50% 0%, 50% 100%, 56.25% 100%, 56.25% 0%, 56.25% 0%, 56.25% 100%, 62.5% 100%, 62.5% 0%, 62.5% 0%, 62.5% 100%, 68.75% 100%, 68.75% 0%, 68.75% 0%, 68.75% 100%, 75% 100%, 75% 0%, 75% 0%, 75% 100%, 81.25% 100%, 81.25% 0%, 81.25% 0%, 81.25% 100%, 87.5% 100%, 87.5% 0%, 87.5% 0%, 87.5% 100%, 93.75% 100%, 93.75% 0%, 93.75% 0%, 93.75% 100%, 100% 100%, 100% 0%, 100% 0%, 100% 100%, 6.25% 100%);
405
  transform: scale(1.1) translateX(4%);
406
  transition: clip-path 1.5s cubic-bezier(0.55,0.00,0.49,1.00), transform 1.5s cubic-bezier(0.55,0.00,0.83,0.83);
407
}
408
​
409
.slider-img img {
410
  width: 100%;
411
  height: 100%;
412
  object-fit: cover;
413
  object-position: center;
414
}
415
​
416
.slider-descr {
417
  position: absolute;
418
  left: 0.4rem;
419
  bottom: 0.28rem;
420
  max-width: 1.9rem;
421
  text-transform: uppercase;
422
  color: var(--white);
423
}
424
​
425
.slider-title {
426
  position: absolute;
427
  left: 3.09rem;
428
  bottom: 0.2rem;
429
  height: 1.3em;
430
  display: flex;
431
  flex-direction: column;
432
  justify-content: flex-end;
433
  font-size: 0.94rem;
434
  color: var(--white);  
435
  overflow: hidden;
436
}
437
​
438
.slider-title__item {
439
  height: 1.3em;
440
  min-height: 1.3em;
441
}
442
​
443
.slider-numeric {
444
  position: absolute;
445
  right: 0.4rem;
446
  bottom: 0.28rem;
447
  display: flex;
448
  gap: 0.5em;
449
  max-width: 1.9rem;
450
  font-size: 0.18rem;
451
  text-transform: uppercase;
452
  color: var(--white);  
453
}
454
​
455
.slider-numeric__active {
456
  height: 1.3em;
457
  overflow: hidden;
458
}
459
​
460
.slider-numeric__item {
461
  height: 1.3em;
462
}

Resources


gsap.registerPlugin(ScrollTrigger, SplitText, ScrollSmoother, CustomEase, Observer);

CustomEase.create('preloaderEase', '0.48,0.00,0.83,0.83');
CustomEase.create('headerEase', '0.17,0.17,0.52,1.00');
CustomEase.create('titleEase', '0.17,0.17,0.49,1.00');
CustomEase.create('titleEaseHide', '0.55,0.00,0.83,0.83');

window.addEventListener('load', function() {
  function initSplitText(elements) {
    const textWrappers = document.querySelectorAll(elements);
    if (!textWrappers.length) return false
    const splitElement = new SplitText(elements, { type: 'lines', linesClass: 'fade-overflow' });

    textWrappers.forEach(textWrapper => {
      textWrapper.querySelectorAll('.fade-overflow').forEach((letterWrapp) => {
        let letter = letterWrapp.innerHTML;
        letterWrapp.innerText = '';
        letterWrapp.innerHTML = `<div class='fade-el'>${letter}</div>`;
      });
    });
  }

  initSplitText('.split')
  
  const smoother = ScrollSmoother.create({
    wrapper: document.getElementById('smooth-wrapper'),
    content: document.getElementById('smooth-content'),
    smooth: 1.5,
    normalizeScroll: true,
    effects: true,
  });
  
  let activeIndexSlider;
  
  function initPage() {
    smoother.paused(true);
    smoother.scrollTo(0);
    
    activeIndexSlider = document.querySelectorAll('.slider-img').length - 1;
    
    document.querySelectorAll('.slider-img').forEach((element, index) => {
      element.classList.remove('hide');
      element.classList.remove('active');
      if(index == activeIndexSlider) {
        element.classList.add('active');
      }
    });
    
    gsap.set('.slider-title__item', {
      y: 0,
    });
    
    gsap.set('.slider-numeric__item', {
      y: 0,
    });
    
    gsap
      .timeline({
        onComplete: () => {
          smoother.paused(false);
        }
      })
      .to('.preloader-wrapp', {
        y: '100%',
        duration: 0.7,
        ease: 'preloaderEase',
      }, '>2')
      .set('.preloader', {
        display: 'none',
      })
      .fromTo('.header-wrapp', {
        y: '-1rem',
      }, {
        y: 0,
        duration: 0.85,
        ease: 'headerEase',
      })
      .fromTo('.banner-text .fade-el', {
        y: '100%',
      }, {
        y: 0,
        duration: 0.5,
        stagger: 0.2,
        ease: 'headerEase',
      }, '<')
      .fromTo('.banner-title .fade-el', {
        y: '100%',
      }, {
        y: 0,
        duration: 1,
        stagger: 0.2,
        ease: 'headerEase',
      }, '<')
      .fromTo('.banner-descr .fade-el', {
        y: '100%',
      }, {
        y: 0,
        duration: 1,
        stagger: 0.1,
        ease: 'headerEase',
      }, '<')
      .fromTo('.slider', {
        y: '50%',
      }, {
        y: 0,
        duration: 1.05,
        ease: 'headerEase',
      }, '<')
      .fromTo('.slider-img img', {
        scale: 1.7,
      }, {
        scale: 1.3,
        duration: 1,
      }, '<');
  }
  
  initPage();
  
  const slider = document.querySelector('.slider');
  let playAnimation = false;
  
  function nextSlide() {
    playAnimation = true;
    
    if(activeIndexSlider > 0) {
      document.querySelector('.slider-img.active').classList.add('hide');
      document.querySelectorAll('.slider-img')[activeIndexSlider-1].classList.add('active');
      
      gsap.to('.slider-numeric__item', {
          y: '-=100%',
          duration: 1.4,
          ease: 'titleEase',
        })

      gsap
        .timeline({
          onComplete: () => {
            playAnimation = false;
          }
        })
        .to('.slider-title__item', {
          y: '+=100%',
          duration: 0.7,
          ease: 'titleEaseHide',
        })
        .to('.slider-title__item', {
          y: '+=100%',
          duration: 0.7,
          ease: 'titleEase',
        });
      
      activeIndexSlider--;
    } else {
      document.querySelector('body').classList.add('hide');
      
      gsap.timeline({
        onComplete: () => {
          initPage();
        }
      })
        .set('.preloader', {
          display: 'flex',
        }, 1.5)
        .call(() => {
          document.querySelector('body').classList.remove('hide');
        }, null, 1.5)
        .to('.preloader-wrapp', {
          y: 0,
        }, '<')
        .call(() => {
            playAnimation = false;
        }, null, 3)
    }
    
    smoother.paused(false);
  }
  
  let sliderObserver = ScrollTrigger.observe({
    target: '.collection', 
    type: 'wheel,touch,scroll,pointer',  
    wheelSpeed: 1,
    onDown: () => {
      if(!playAnimation) {
        nextSlide();
      }
    },
    onWheel: (self) => {
      if(self.deltaY > 0 && !playAnimation) {
        nextSlide();
      }
    },
    onChange: (self) => {
      console.log(self);
    },
    tolerance: 1,
    preventDefault: true,
  });
  
  sliderObserver.disable();
  
  ScrollTrigger.create({
    trigger: '.collection',
    start: 'top top+=2px',
    end: 'bottom bottom',
    scrub: true,
    onEnter: () => {
      sliderObserver.enable();
    },
    onEnterBack: () => {
      sliderObserver.enable();
    },
  });
  
  gsap.timeline({
    defaults: {
      ease: 'none',
    },
    scrollTrigger: {
      trigger: document.querySelector('.banner'),
      start: 'top top',
      end: 'bottom top',
      scrub: true,
      onEnter: () => {
        sliderObserver.disable();
      },
      onEnterBack: () => {
        sliderObserver.disable();
      },
    },
  })
    .to('.collection', {
      padding: 0,
      duration: 1,
    })
    .to('.slider', {
      borderRadius: 0,
      duration: 1,
    }, '<')
    .to('.banner-mask', {
      alpha: 1,
      duration: 1,
    }, '<')
    .to('.collection-mask', {
      alpha: 1,
      duration: 1,
    }, '<')
    .fromTo('.slider-img img', {
      scale: 1.3,
    }, {
      scale: 1,
      duration: 1,
    }, '<')
    .to('.header', {
      color: '#ffffff',
      duration: 0.3,
    }, '<0.3')
    .to('.header-link', {
      color: '#ffffff',
      duration: 0.3,
    }, '<')
    .to('.header-logo svg', {
      filter: 'invert(1)',
      duration: 0.3,
    }, '<');
});